<header>
  <h2>AngularReigns</h2>

  <span>
    <div>
      <span>Budget</span>
      <span>{{ moneyScore }}</span>
    </div>
  
    <div>
      <span>Réputation</span>
      <span>{{ fameScore }}</span>
    </div>
  
    <div>
      <span>Motivation</span>
      <span>{{ moraleScore }}</span>
    </div>
  </span>

  <h2>Day {{ currentDay }}</h2>
</header>

<div id="wrapper">
  <div (mouseover)="hoverLeft()" id="left"></div>
  <div (mouseover)="hoverCenter()" id="center"></div>
  <div (mouseover)="hoverRight()" id="right"></div>

  <div *ngIf="cardLoaded" [@isHovering]="getCardState()" id="card">
    <h2 id="card-title">{{ currentCard.title }}</h2>

    <span id="choices">
      <div [style.visibility]="isHoveringLeft || getCardState() === 'default' ? 'visible' : 'hidden'">{{ currentCard.choice1.name }}</div>
      <div [style.visibility]="isHoveringRight || getCardState() === 'default' ? 'visible' : 'hidden'">{{ currentCard.choice2.name }}</div>
    </span>
  </div>
  
  <div *ngIf="cardLoaded" id="card-description">
    <p *ngFor="let desc of currentCard.description">{{ desc }}</p>
  </div>
</div>