<header>
  <h2>AngularReigns</h2>

  <span>
    <div>
      <span>Argent</span>
      <span>{{ moneyScore }}</span>
    </div>
  
    <div>
      <span>Santé</span>
      <span>{{ healthScore }} / 100</span>
    </div>
  
    <div>
      <span>Karma</span>
      <span>{{ karmaScore }}</span>
    </div>
  </span>
</header>

<div id="wrapper">
  <div (mouseover)="hoverLeft()" id="left"></div>
  <div (mouseover)="hoverRight()" id="right"></div>

  <div *ngIf="cardLoaded" [@isHovering]="isHoveringLeft ? 'isHoveringLeft' : 'isHoveringRight'" id="card">
    <h2 id="card-title">{{ currentCard.title }}</h2>

    <span id="choices">
      <div [style.visibility]="isHoveringLeft ? 'visible' : 'hidden'">{{ currentCard.choice1.name }}</div>
      <div [style.visibility]="!isHoveringLeft ? 'visible' : 'hidden'">{{ currentCard.choice2.name }}</div>
    </span>
  </div>
  
  <div *ngIf="cardLoaded" id="card-description">
    <p *ngFor="let desc of currentCard.description">{{ desc }}</p>
  </div>
</div>