#wrapper {
    background-color: var(--black);
    color: var(--white);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#replay-btn {
    background-color: transparent;
    color: var(--white);
    border: 1.5px solid var(--white);
    border-radius: 4px;
    font-size: 18px;

    padding: 15px 30px;

    outline: none;

    transition: color, background-color;
    transition-duration: 200ms;
}

#replay-btn:hover {
    cursor: pointer;

    color: var(--black);
    background-color: var(--white);

    transition: color, background-color;
    transition-duration: 200ms;
}